<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>My Website</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <h1>LMS</h1>
    </header>

    <nav>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Add Book</a></li>
            <li><a href="#">Returns</a></li>
            <li><a href="#">Issue</a></li>
            <li><a href="#">Logout</a></li>

        </ul>
    </nav>

    <main>
        <h2>LMS</h2>
    </main>

    <footer>
        <p>&copy; 2024 Lib Mnmt System</p>
    </footer>
</body>
</html>